/* src/components/TableDetailCard.css */
.table-responsive {
  max-height: 300px;
  overflow-y: auto;
}

/* Hover effect */
.table-hover tbody tr:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.custom-btn {
  background-color: transparent;
  color: black !important;
  border: 1px solid #ced4da;
}

.custom-btn:disabled {
  background-color: #e9ecef !important;
  color: black !important;
  opacity: 1;
}
