html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #83DBF6; /* Warna SIGAP */
}

/* Gunakan Montserrat sebagai font utama */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Font monospace untuk tag <code> tetap dipertahankan */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
